%box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 50em;
}

%box:before, %box:after {
  content: "";
  display: table;
}

%box:after {
  clear: both;
}

%columns {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}

@media only screen {
  %phone-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  %phone-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  %phone-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  %phone-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  %phone-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  %phone-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  %phone-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  %phone-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  %phone-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  %phone-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  %phone-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  %phone-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  %phone-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  %phone-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  %phone-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  %phone-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  %phone-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  %phone-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  %phone-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  %phone-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  %phone-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  %phone-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  %phone-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  %phone-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  %phone-1 {
    width: 8.33333%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %phone-2 {
    width: 16.66667%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }
   
  %phone-3 {
    width: 25%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %phone-4 {
    width: 33.33333%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %phone-5 {
    width: 41.66667%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %phone-6 {
    width: 50%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %phone-7 {
    width: 58.33333%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %phone-8 {
    width: 66.66667%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %phone-9 {
    width: 75%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %phone-10 {
    width: 83.33333%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %phone-11 {
    width: 91.66667%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %phone-12 {
    width: 100%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }
}

@media only screen and (min-width: 40.063em) {
  %tablet-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  %tablet-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  %tablet-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  %tablet-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  %tablet-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  %tablet-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  %tablet-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  %tablet-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  %tablet-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  %tablet-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  %tablet-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  %tablet-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  %tablet-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  %tablet-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  %tablet-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  %tablet-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  %tablet-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  %tablet-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  %tablet-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  %tablet-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  %tablet-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  %tablet-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  %tablet-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  %tablet-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  %tablet-1 {
    width: 8.33333%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %tablet-2 {
    width: 16.66667%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %tablet-3 {
    width: 25%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %tablet-4 {
    width: 33.33333%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %tablet-5 {
    width: 41.66667%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %tablet-6 {
    width: 50%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %tablet-7 {
    width: 58.33333%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %tablet-8 {
    width: 66.66667%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %tablet-9 {
    width: 75%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %tablet-10 {
    width: 83.33333%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

   %tablet-11 {
    width: 91.66667%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %tablet-12 {
    width: 100%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %push-0 {
      position: relative;
      left: 0%;
      right: auto;
  }

  %pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }
   
  %push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  %pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
   
  %push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  %pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
   
  %push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  %pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
   
  %push-4 {
      position: relative;
      left: 33.33333%;
      right: auto;
  }

  %pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
   
  %push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  %pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
   
  %push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  %pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
   
  %push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  %pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
   
  %push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  %pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
   
  %push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  %pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
   
  %push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  %pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
   
  %push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  %pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}

@media only screen and (min-width: 64.063em) {
  %desktop-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  %desktop-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  %desktop-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  %desktop-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  %desktop-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  %desktop-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  %desktop-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  %desktop-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  %desktop-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  %desktop-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  %desktop-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  %desktop-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  %desktop-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  %desktop-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  %desktop-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  %desktop-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  %desktop-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  %desktop-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  %desktop-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  %desktop-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  %desktop-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  %desktop-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  %desktop-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  %desktop-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  %desktop-1 {
    width: 8.33333%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %desktop-2 {
    width: 16.66667%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %desktop-3 {
    width: 25%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %desktop-4 {
    width: 33.33333%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %desktop-5 {
    width: 41.66667%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %desktop-6 {
    width: 50%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %desktop-7 {
    width: 58.33333%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %desktop-8 {
    width: 66.66667%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %desktop-9 {
    width: 75%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %desktop-10 {
    width: 83.33333%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %desktop-11 {
    width: 91.66667%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %desktop-12 {
    width: 100%;
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  %push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  %pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  %push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
 }

  %pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  %push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  %pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  %push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  %pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  %push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  %pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  %push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  %pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  %push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  %pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  %push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  %pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  %push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  %pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  %push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  %pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  %push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  %pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  %push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  %pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}