// Colors
$white: #fff;
$black: #000;

$green: #0aa;
$pink: #f36;

// Typography
$primary-font: "Open Sans", "Arial", "Sans-serif";

$font-size-mobile: 14px;
$font-size-tablet: 16px;
$font-size-desktop: 18px;

// Paths
$path-to-images: "../../assets/images/";
$path-to-fonts: "../../assets/fonts/";
$path-to-icons: "../../assets/icons/";